{%extends 'shop/basic.html'%}

{% block title %}Index{% endblock %}
{% block css %}
.col-md-3 {
  display: inline-block; 
  margin-left: -4px;
}
.carousel-indicators .active{
  background-color: blue;
}

.carousel-indicators{
  margin-top: 100px !important;
}
.col-md-3 img {
  width: 255px;
  height: 355px;
}


body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: blue;
}
 .carousel-control-prev,
.carousel-control-next{
  top:auto;
  bottom:auto;
}

body .no-padding {
  padding-left: 0;
  padding-right: 0;
}

{% endblock %}
{% block body %}
{% load static %}
<div class="container">
  <!-- Slides start from here -->
  {% for product , range ,nSlides in allProds %}
  <h2>{{product.0.category}}</h2>
  <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      {% for i in range %}
      <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to={{i}} aria-label="Slide 2"></button>
      {%endfor%}
    </div>

    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-3 col-md-3 col-sm-3">
          <div class="card" style="width: 18rem">
            <img class="card-img-top" src='/{{product.0.image}}'alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{product.0.product_name}}</h5>
              <p class="card-text">
                {{product.0.desc}}
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>

        {% for i in product|slice:"1:" %}
        <div class="col-xs-3 col-md-3 col-sm-3">
          <div class="card" style="width: 18rem">
            <img class="card-img-top" src='{%static "shop/demo.jpeg" %}'alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">
                {{i.desc}}
              </p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
        {%if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
        </div>
        <div class="carousel-item">


     

          
        {%endif%}

        {% endfor %}
        
        </div>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
 {% endfor %}
</div>
  {% endblock %}



